/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );
* {
  --v-primary-base: #3953a4;
  --dark-blue: #3953a4;
  --light-blue: #98b9f2;
  --grey: #cdd7d6;
  --black: #121113;
  --orange: #f87060;
  --white: #f5f5f5;

  --v-input-padding-top: 6px;
  --header-size: 64px;
  --footer-size: 35px;
  --menu-size: 40px;

  --default-margin: 0.75rem;

  --md-modal-width: clamp(450px, 70%, 900px);
  --default-modal-width: auto;
  --modal-footer-height: 60px;
}

.modal-actions {
  position: fixed;
  bottom: 1px;
  // width: calc(100% - (2 * var(--default-margin)));
  width: 100%;
  left: 0;
  background-color: #f5f5f5;
}

html {
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
  max-height: 100vh;
  // background-color: white;
}

body > div:not(#app) {
  opacity: 0;
}

.vue-notification {
  font-size: medium;
}

.required:not(.v-select):not(.v-autocomplete)::after,
.required.v-select:not(.v-autocomplete) .v-label::after,
.required.v-autocomplete .v-field-label::after {
  content: ' *';
  color: red;
}

.v-field-label,
.v-field-label--floating {
  opacity: 1;
}

.form-body {
  overflow-y: auto;
  max-height: 70vh;
}

.v-picker {
  .v-btn__content {
    display: block;
  }
  .v-btn__content::first-letter {
    text-transform: uppercase;
  }
}

.container-app.after-login {
  margin-top: var(--header-size) !important;
}
.v-container:not(.after-login),
.v-main:not(.after-login) {
  margin-top: 0 !important;
}

.generic-form {
  margin-top: 0;
  margin-bottom: 0;
  max-width: 80%;
  min-width: 30vw;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  margin-left: 30px;
  margin-right: 30px;
  overflow-y: auto;
}

.generic-container {
  justify-content: center;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  margin: 1rem;
  // align-items: start;
}

.form-title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 500px) {
  .generic-container {
    max-width: calc(100% - 1rem);
    margin-right: 0;
  }
}

@media screen and (max-width: 499px) {
  //mobile
  .generic-container {
    margin: 0;
  }
  .generic-form {
    max-width: 80%;
  }
  .form-title {
    display: none !important;
  }
}

// .v-application__wrap {
//   overflow: hidden;
// }

// #g_id_onload,
// .g_id_signin {
//   min-width: 200px;
//   min-height: 40px;
// }
